openapi: "3.0.1"
info:
  description: "Notes server"
  version: "1.0.0"
  title: "Notebook"
  contact:
    email: viktoriaohorilko@gmail.com
    
servers:
- url: https://notes.io/api
- url: http://notes.io/api

tags:
- name: user
  description: Operations with user
- name: edition
  description: Note additions  
- name: note
  description: Operations with note


paths:

  /user:
    
    post:
      tags:
      - user
      summary: Sign in a user
      operationId: createuser
      requestBody:
        description: A new user
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        required: true
      responses:
        200:
          description: Successful sign in
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        405:
          description: "Invalid input"
      security:
        - ApiKeyAuth: [ ]
    
        
  /user/log_in:
    
    get:
      tags:
      - user
      summary: Log in a user
      operationId: log_in
      responses:
        200:
          description: Successful log in
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        405:
          description: "Log in crashed! Invalid login/password."
      security:
        - ApiKeyAuth: [ ]
  
  
  
  /user/log_out:
  
    get:
      tags:
      - user
      summary: "Logs out current logged in user session"
      operationId: log_out
      parameters: []
      responses:
        200:
          description: Successful log out
        405:
          description: "Log out crashed!"
      security:
        - ApiKeyAuth: [ ]
        
        
        
  /user/{user_id}:
        
    put:
      tags:
      - user
      summary: Updates a user
      operationId: updateUser
      parameters:
      - name: user_id
        in: path
        description: 'Id of a target user'
        required: true
        schema:
          type: integer
      requestBody:
        description: User data to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        required: true
      responses:
        200:
          description: Creation status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        400:
          description: "Invalid ID supplied"
      security:
        - ApiKeyAuth: [ ]
    
    delete:
      tags:
      - user
      summary: Delete a user
      operationId: deleteUser
      parameters:
      - name: user_id
        in: path
        description: 'Id of a target user'
        required: true
        schema:
          type: integer
      responses:
        400:
          description: "Invalid ID supplied"
      security:
      - ApiKeyAuth: [ ]
      
  /edition/{user_id}:
  
    post:
      tags:
      - edition
      summary: Add edition
      operationId: add_edition
      parameters:
      - name: user_id
        in: path
        description: 'User ID'
        required: true
        schema:
          type: integer
      requestBody:
        description: Add new note edition
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Edition'
        required: true
      responses:
        200:
          description: Successful sign in
          content:
            application/json:
              schema:
                type: array
                items: 
                  $ref: '#/components/schemas/Edition'
        405:
          description: "Invalid input"
      security:
        - ApiKeyAuth: [ ]
        
    get:
      tags:
      - edition
      summary: Show edition
      operationId: show_edition
      parameters:
      - name: user_id
        in: path
        description: 'User ID'
        required: true
        schema:
          type: integer
      responses:
        200:
          description: Successful showed edition
          content:
            application/json:
              schema:
                type: array
                items: 
                  $ref: '#/components/schemas/Edition'
        405:
          description: "Operation crashed!"
      security:
        - ApiKeyAuth: [ ]
  
    put:
      tags:
      - edition
      summary: Edit edition
      operationId: editEdition
      parameters:
      - name: user_id
        in: path
        description: 'Id of a target user'
        required: true
        schema:
          type: integer
      requestBody:
        description: Note data to edit
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Edition'
        required: true
      responses:
        200:
          description: Edit status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        400:
          description: "Invalid ID supplied"
      security:
        - ApiKeyAuth: [ ]
      
        
    delete:
      tags:
      - edition
      summary: Delete edition
      operationId: deleteEdition
      parameters:
      - name: user_id
        in: path
        description: 'Id of a target user'
        required: true
        schema:
          type: integer
      responses:
        400:
          description: "Invalid ID supplied"
      security:
      - ApiKeyAuth: [ ]    
  
  /note/{user_id}:
    
    post:
      tags:
      - note
      summary: Add new note
      operationId: add_note
      parameters:
      - name: user_id
        in: path
        description: 'User ID'
        required: true
        schema:
          type: integer
      requestBody:
        description: Add new note
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Note'
        required: true
      responses:
        200:
          description: Successful sign in
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        405:
          description: "Invalid input"
      security:
        - ApiKeyAuth: [ ]
        
  
    put:
      tags:
      - note
      summary: Edit note
      operationId: editNote
      parameters:
      - name: user_id
        in: path
        description: 'Id of a target user'
        required: true
        schema:
          type: integer
      requestBody:
        description: Note data to edit
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Note'
        required: true
      responses:
        200:
          description: Edit status
          content:
            application/json:
              schema:
                type: array
                items: 
                  oneOf:
                    - $ref: '#/components/schemas/Note'
                    - $ref: '#/components/schemas/Edition'
        400:
          description: "Invalid ID supplied"
      security:
        - ApiKeyAuth: [ ]

    delete:
      tags:
      - note
      summary: Delete a note
      operationId: deleteNote
      parameters:
      - name: user_id
        in: path
        description: 'Id of a target user'
        required: true
        schema:
          type: integer
      responses:
        400:
          description: "Invalid ID supplied"
      security:
      - ApiKeyAuth: [ ]
      
      
  /note/{tag}:
  
    get:
      tags:
      - note
      summary: Show notes by tag
      operationId: show_note_by_tag
      parameters:
      - name: tag
        in: path
        description: 'Tag'
        required: true
        schema:
          type: string
      responses:
        200:
          description: Successful showed note
          content:
            application/json:
              schema:
                type: array
                items: 
                  oneOf:
                    - $ref: '#/components/schemas/Note'
                    - $ref: '#/components/schemas/Edition'
        405:
          description: "Operation crashed!"
      security:
        - ApiKeyAuth: [ ]
        
        
components:
  schemas:
      
    User:
      required:
      - login
      - password
      - user_name
      - user_id
      type: object
      properties:
        login:
          type: string
        password:
          type: string
        user_name:
          type: string
        user_id:
          type: integer
          
    Edition:
      required:
      - user_id
      - note_id
      - time_of_edition
      - editet_text
      type: object
      properties:
        user_id:
          type: integer
        note_id:
          type: integer
        time_of_edition:
          type: number
        text:
          type: string
      
    Note:
      required:
      - text
      - tag
      - user_id
      - note_id
      type: object
      properties:
        text:
          type: string
        tag:
          type: string    
        user_id:
          type: string  
        note_id:
          type: integer
          
    StatusResponse:
      required:
      - code
      type: object
      properties:
        code:
          type: integer
        type:
          type: string
        message:
          type: string

    
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key